html,
body
{
	overflow-wrap: break-word;

	min-width: 500px;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://i.imgur.com/36PjIIx.jpg");
	min-height: 100%;
	min-width: 100%;
	color: rgb(0, 0, 0);
	background-color: #1E1E1E;
	margin: 0;
	padding: 0;	
}

.stickybar{

	
    position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	min-width: 100%;
	min-height: 5%;

}

ul{

	margin: 0;
	padding: 0;
	list-style-type: none;
}

.stickybar li{

	border-right: 1px solid #bbb;
	float: left;

}

.stickybar li a{

	
	color: white;
	display: block;
	background-color:rgba(0, 0, 0, 0.6);
	padding: 16px 18px;
	text-align: center;
	text-decoration: none;

}

.stickybar li a:hover{

	transition: all 0.7s;
	background-color: gray;

}

.pagecontainer{

	display: flex;
}

.contentcontainer{

	
	background-color: rgba(255, 0, 0, 0);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 80%;
	height: 1200px;


}

.topbar{
	
	
	background-color: rgba(251, 255, 0, 0.5);
	height: 5%;
	width: 100%;
	border: #000000 solid 3px;


}

.topbarzawartosc{

	margin-top: 20px;
	font-size: 20px;


}


.sidebar{

	float: left;
	background-color: rgba(98, 0, 255, 0.5);
    height: 100%;
	width: 10%;
	border: #000000 solid 3px;

}

.content{

	color: gray;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	border: #000000 solid 3px;


}

.programyjs li{

	margin-top: 5%;
	margin-left: 0%;
	

}

.programyjs li a{

	
	color: white;
	display: block;
	background-color:rgb(0, 0, 0);
	padding: 16px 18px;
	text-align: center;
	text-decoration: none;

}

.programyjs li a:hover{

	transition: all 0.7s;
	background-color: rgb(128, 128, 128);

}

