body 
{
    color: whitesmoke;
    background-image: url("../../images/beetlo/tlo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
}