div {
    font-family: Arial;
  }

body 
{
    color: whitesmoke;
    background-image: url("../../images/beetlo/tlo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
}

a
{
    color: #dd1bb3;
    font-family: sans-serif;
    font-size: 30px;

}
a:visited
{
    color: #dd1bb3;
    font-family: sans-serif;


}
a:active
{
    color: #dd1bb3;
    font-family: sans-serif;


}
a:hover
{
    color: #0a0909;
    font-family: sans-serif;


}